<%= form_for post do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel">
    <div class="pname">
      <%= gravatar_image_tag(current_user.email, alt: current_user.name, :gravatar => { :size => 32 }) %>       
      <a><%= current_user.name %></a>
    </div>  
    <div class="main">
      <%= f.text_area :content %>
    </div>  
    <div class="pmright">
      <div class="actions"> 
      <%= f.submit %>
    </div>
    </div>
  </div>
<% end %>
