<div class="container">
<h2>Notifications</h2>
  <% current_user.notifications.each do |notification| %>
    <br/>    
    <% if notification.notice == 0 %>
      <%= User.find(notification.friendship_id).name %>
      <%= link_to 'Accept', friendships_path(notification_id: notification), method: :post %>
    <% else %>
      <%= User.find(current_user.friendships.find(notification.friendship_id).friend_id).name %>
      <%= "Friend request accepted!"%>
    <% end %>
    <%= link_to 'Destroy', notification, method: :delete %>
  <% end %>
</div>