<div class="content">
  <div>
    <%= render 'posts/form' %>
  </div>
  <div>
    <% @posts.each do |post| %>
      <div class="div-post">
        <div class="post-title">
        <h3>
          <%= post.title %></h3>
          <h3>
          <% if member_signed_in? && current_member == post.member %>              
                <%= link_to post, class: "level-item" do %>
                  <span class="icon"><i class="fa fa-link" area-hidden="true"></i></span>
                <% end %>
                <% if member_signed_in? && current_member == post.member %>
                  <%= link_to edit_post_path(post), class: "level-item" do %>
                    <span class="icon"><i class="fa fa-pencil" area-hidden="true"></i></span>
                  <% end %>
                  <%= link_to post, method: :delete, data: { confirm: "Are you sure you want to delete this post?"} do %>
                  <span class="icon"><i class="fa fa-trash-o" area-hidden="true"></i></span>
                  <% end %>
                <% end %>                           
          <% end %>
        </h3>
        </div>
        <p><%= post.body %>
          <br/>
          <% if member_signed_in? %>        
            By: <%= post.member.name %>
          <% end %>
        </p>  
      </div>      
    <% end %>
  </div>
</div>
