<div class="content">
<%= link_to 'Back', posts_path %> 
      <div class="div-post">
        <div class="post-title">
        <h3>
          <%= @post.title %></h3>
          <h3>
                <% if member_signed_in? && current_member == @post.member %>
                  <%= link_to edit_post_path(@post), class: "level-item" do %>
                    <span class="icon"><i class="fa fa-pencil" area-hidden="true"></i></span>
                  <% end %>                  
                <% end %>            
        </h3>
        </div>
        <p><%= @post.body %>
          <br/>
          <% if member_signed_in? %>        
            By: <%= @post.member.name %>
          <% end %>
        </p>  
      </div>          
</div>

