<%= form_tag '/flights', method: "get" do %>
  <h1>Available Flights</h1>
  <% if @flights.present? %>
  <table>
    <thead>
      <tr style="font-weight: bold">
        <td style="padding: 20px; margin: 0px"></td>        
        <td>From</td>
        <td>To</td>
        <td>Date</td>
        <td>Duration</td>
      </tr>
    </thead>    
    <tbody>      
      <% @flights.each do |flight| %>
        <tr>
          <% checkedVal = false %>
          <% if(params[:flight] && flight.id == params[:flight]) %>
            <% checkedVal = true %>
          <% end %>
          <td style="padding: 0px; margin: 0px;"><%= radio_button_tag :flight, flight.id, checkedVal %></td>
          <td><%= flight.from_airport.code %></td>
          <td><%= flight.to_airport.code %></td>
          <td><%= flight.sdt %></td>          
          <td><%= distance_of_time_in_words(flight.duration) %></td>
          <td><%= link_to 'Show', flight %></td>          
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <h2>There are no flights!</h2>
  <% end %>
  <div class="actions">
    <%= submit_tag("Select") %>
  </div>
<% end %>