<% locals[:givenevents].each do |event| %>
  <div class="event">
    <div style="grid-area: header">
      <h4><%= event.title %></h4>
    </div>
    <div style="grid-area: main">
      <a><%= event.dnt %></a><br>
      <a><%= event.addr %></a><br>
      <a>By <%= event.creator.name %></a>
    </div>
    <div style="grid-area: footer">
      <% if user_signed_in? %>
        <% if current_user.attended_events.exclude?(event) %>
            <%= link_to 'Attend', attend_path(current_user.id, event.id) %>
        <% else %>
            <%= link_to 'Don\'t attend', do_not_attend_path(current_user.id, event.id) %>             
        <% end %>
        <%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>